*.bak
/hardware/ControlBoard/__Previews
/hardware/PowerBoard/History
/hardware/PowerBoard/__Previews
/hardware/PowerBoard/debug.log
/hardware/ControlBoard/History
/hardware/ControlBoard/debug.log
/firmware/ControlBoard/Debug/
/firmware/ControlBoard/settings
/firmware/ControlBoard/MainMCU.dep
/firmware/ControlBoard/MainMCU.ewt
/firmware/ControlBoard/settings/
/firmware/ControlBoard/.idea
.idea

