*.bak
/hardware/ControlBoard/__Previews
/hardware/PowerBoard/History
/hardware/PowerBoard/__Previews
/hardware/PowerBoard/debug.log
/hardware/ControlBoard/History
/hardware/ControlBoard/debug.log
/firmware/ControlBoard/MainMCU/Debug/
/firmware/ControlBoard/MainMCU/MainMCU.dep
/firmware/ControlBoard/MainMCU/MainMCU.ewt
/firmware/ControlBoard/MainMCU/settings/
/firmware/ControlBoard/SecondaryMCU/Debug/
/firmware/ControlBoard/SecondaryMCU/settings/
/firmware/ControlBoard/SecondaryMCU/SecondaryMCU.dep
/firmware/ControlBoard/SecondaryMCU/SecondaryMCU.ewt
/firmware/ControlBoard/MainMCU/.idea
.idea
/firmware/ControlBoard/settings
